* {
  box-sizing: border-box;
}

body {
  background-color: rgb(44, 128, 134);
  color: aliceblue;
  width: 60%;
  margin: auto;
  text-align: center;
}

#main-letters {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  position: absolute;
  left: 450px;
  right: 450px;
  bottom: 185px;
}
#main-letters div {
  outline: rgba(12, 3, 3, 0.13) solid 3px;
  height: 40px;
  width: 5%;
  margin: 6px;
  flex-grow: 1;
  border-radius: 15px;
  font-size: 30px;
  color: rgb(236, 170, 195);
  background-color: rgb(0, 7, 7);
  padding: 3px 0 5px 0;
}

#reset {
  outline: rgba(12, 3, 3, 0.315) solid 3px;
  font-weight: 900;
  background-color: rgb(136, 199, 207);
  position: absolute;
  right: 750px;
  bottom: 50px;
  border-radius: 50px;
  font-size: 15px;
}

h1,
h2 {
  font-family: "Sofia", sans-serif;
  font-weight: 900;
  font-style: italic;
  color: rgb(243, 201, 217);
  text-decoration-line: underline;
}

h2,
h3 {
  color: rgb(243, 201, 217);
  font-family: Georgia, "Times New Roman", Times, serif, Tahoma, Geneva, Verdana,
    sans-serif;
  text-decoration-line: none;
}

h3 {
  font-size: x-large;
  font-style: italic;
}

#incorrect {
  outline: rgba(185, 175, 175, 0) solid 5px;
  height: 85px;
  margin: auto;
  margin-bottom: 20px;
  right: 780px;
  border-radius: 25px;
  padding: 5px;
  color: rgb(238, 163, 192);
  font-weight: 900;
}
.word {
  margin-top: 12px;
}

span {
  outline: rgba(185, 175, 175, 0.425) solid 5px;
  font-size: 50px;
  margin: 20px;
  padding: 20px;
  /* visibility: hidden; */
}
